.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
  background-color: #333;
}

.navbar .logo-social-section {
  display: flex;
  align-items: center;
}

.navbar .logo {
  margin-right: 20px;
}

.navbar .nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar .nav li {
  margin-left: 10px; /* Adjust the margin as needed */
}

.navbar .nav li:first-child {
  margin-left: 0;
}

.navbar .nav li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition-duration: 0.5s;
}

.nav li a:hover {
  background-color: #7d008d;
}

.logo {
  width: 80px;
}

.hamburger-icon {
  display: none;
}

.bar {
  width: 30px;
  height: 4px;
  background-color: #fff;
  margin: 12px 0;
  transition: 0.4s;
}


.navbar-icons-section{
  display: none;
}
/* Rotate first and third bar to create X symbol when active */
.bar.open:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.bar.open:nth-child(2) {
  opacity: 0;
}

.bar.open:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Media query for mobile devices */
@media (max-width: 768px) {
  .navbar {
    padding-top: 10px;
    background-color: transparent;
  }

  .hamburger-icon {
    display: block;
  }

  .nav {
    display: block;
    position: fixed;
    width: 430px;
    top: 0;
    right: -530px;
    height: 100%;
    background-color: #333;
    transition: right 0.3s ease-in-out;
    overflow-y: auto;
    z-index: 999;
    padding: 20px;
  }

  .nav.active {
    display: block;
    right: 0px;
    left: 100px;
    padding-top: 110px;
    padding-right: 100px;
  }

  .navbar .nav li{
    margin-left: 0;
    margin-top: 10px;
  }

  .navbar .nav li a {
    font-size: 30px;
    padding-top: 10px;
    margin-right: 100px;
  }

  .navbar-icons-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 20px;
    margin-right: 100px;
  }

  .navbar-icon {
    width: 60px;
    height: 45px;
  }

  .close-btn {
    font-size: 50px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}