.client-section{

}

.client-title{
    color: white;
    font-size: 50px;
    font-family: 'Montserrat';
}


.testimonial{
    display: block;
    font-family: 'Montserrat';
    color: white;
}

.testimonial-image{
    width: 300px;
}

.zuno-testimonial-image{
    width: 500px;
    padding-top: 20px;
}

.client-icon{
    width: 40px;
    height: 100px; 
    margin-right: 25px;
    margin-left: 20px;
}

.creator-name{
    font-size: 35px;
}

.testimonial-sentence{
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
}

.queen-testimonial-sentence{
    display: block;
    padding-left: 20px;
    text-align: center;
    font-weight: bold;
    font-size: 23px;

}
.video-section{
    display: flex;
    justify-content: center;
    padding-left: 60px;
}

.shortform-content{
    display: flex;
    justify-content: center;
    padding-left: 10px;
}

.creator-vid{
    width: 630px;
}


.shortform-video{
    width: 300px;
}

@media (max-width: 768px) {
    .video-section{
        display: block;
        padding-left: 0;
    }
    .testimonial-image,
    .zuno-testimonial-image {
        width: 100%; /* Make images full width on smaller screens */
    }

    .creator-vid {
        max-width: 100%; /* Make videos fit the width of the container on smaller screens */
        height: auto; /* Ensure aspect ratio is maintained */
    }

    .shortform-video {
        width: 100%; /* Make shortform videos full width on smaller screens */
    }

    .client-icon {
        margin-right: 15px; /* Adjust margin for smaller screens */
        margin-left: 10px; /* Adjust margin for smaller screens */
        width: 30px; /* Adjust width for smaller screens */
        height: 80px; /* Adjust height for smaller screens */
    }

    .client-title {
        font-size: 40px; /* Adjust font size for smaller screens */
    }

    .creator-name {
        font-size: 30px; /* Adjust font size for smaller screens */
    }

    .testimonial-sentence,
    .queen-testimonial-sentence {
        font-size: 20px; /* Adjust font size for smaller screens */
    }

    .shortform-content{
        display: block;
        padding-left: 0;
    }

    .client-section{
        padding-top: 125px;
    }
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
      url(/src/fonts/Montserrat-VariableFont_wght.woff) format("woff");
  }