.homepage-section {
  display: block;
  justify-content: center;
  z-index: 9999;
  padding-top: 50px;
  padding-left: 165px;
}

.header-section {
  color: white;
  font-family: "Montserrat";
  padding-bottom: 110px;
}

.welcome-title {
  font-size: 90px;
  font-weight: bold;
}

.Typewriter {
  font-weight: bold;
  font-size: 45px;
}

.card-section {
  display: flex;
  justify-content: center;
}

.card {
  max-width: 500px;
  text-align: center;
  position: relative;
  margin-left: 40px;
}

.card-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.card-image {
  width: 255px;
  max-width: 100%;
  transition-duration: 0.5s;
  cursor: pointer;
}

.card-image:hover {
  transform: scale(1.015);
}

@media (max-width: 768px) {
  .homepage-section {
    padding-left: 0px; 
  }

  .welcome-title {
    font-size: 60px; /* Adjust font size for smaller screens */
  }

  .Typewriter {
    font-size: 30px; /* Adjust font size for smaller screens */
  }

  .card-section {
    display: block;
  }

  .card {
    max-width: 100%; /* Adjust max-width for smaller screens */
    margin: 0 auto 20px; /* Adjust margin for smaller screens */
    padding: 0 20px; /* Adjust padding for smaller screens */
    transition-duration: 0s;
  }

  .card-title {
    font-size: 24px; /* Adjust font size for smaller screens */
  }

  .card-image {
    width: 320px; /* Adjust width for smaller screens */
    max-width: 100%;
  }

  .card-image:hover{
    transform: none;
  }
}

@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"),
    url(/src/fonts/Montserrat-VariableFont_wght.woff) format("woff");
}
